body {
	background-color: #FFCA3A;
	font-family:Verdana, Geneva, Tahoma, sans-serif;

}

button {
	border : 0.25em solid #8AC926;
	padding: 1em;
	border-radius: 0.5em;
	margin: 1em;
}

.error {
	color: red;
	padding: 1em;
}

.pizza {
	/* box-model */
	border: 1px solid gainsboro;
	padding: 1em;
	margin: 1em;
	/* margin-left: 0em; */
	margin-bottom: 0.5em;
	border-radius: 1em;


	/* use display : inline-block */

	/* 
	width: 20em;
	display: inline-block;
	min-height: 30em; 
	*/
}

.medium_pizza {
	background-color: #FF595E;
	flex : 1
}

.large_pizza {
	background-color: #6A4C93;
	flex : 1
}

.small_pizza {
	background-color: #1982C4;
	flex : 1 
}

.contact_us {
	background-color: #8AC926;
}

.budget {
	background-color: #8AC926;
}

.special {
	background-color: black;
	color: white;
}

@media (min-width:760px) {
	/* apply this css if the page is wider than 760px */
	/* body {
		background-color:cornflowerblue;
	} */
	/* .large_pizza {
		background-color: #6A4C93;
		flex : 4
	} */
}

.totalBudget {
	padding: 0.5em;
}

.moneyLeft {
	border : 0.2em solid gold;
	background-color: black;
	color: greenyellow;
	padding: 0.25em;
	border-radius: 0.25em;

}


@media (min-width: 960px) {
	/* apply this css if the page is wider than 960px */
	/* body {
		background-color: #FFF;
	} */

	.pizzas {
		display: flex;
	}

}